.header__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: 0 15px;

  .header__logo-img {
    height: 25px;
  }

  .header__basket-img {
    height: 22px;
  }
}
