@import './styles/colors';
@import './styles/header';
@import './styles/footer';
@import './styles/product';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  font-family: 'Gotham SSm A', 'Gotham SSm B', helvetica, arial, sans-serif;
  color: white;
  background-color: $darkblue;
}

main {
  flex: 1 0 auto;
}
